altgraph==0.17.4
asgiref==3.9.1
astroid==3.0.3
certifi==2025.7.14
charset-normalizer==3.3.2
click==8.1.7
cmake==3.27.9
colorama==0.4.6
colored==1.4.4
comtypes==1.2.0
dill==0.3.7
distlib==0.3.7
Django==5.0
django-ckeditor==6.7.0
django-cors-headers==4.3.1
django-js-asset==2.2.0
django-rest-passwordreset==1.4.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
et_xmlfile==2.0.0
filelock==3.18.0
frozendict==2.3.10
html5lib==1.1
idna==3.10
isort==5.13.2
mccabe==0.7.0
openpyxl==3.1.2
packaging==23.2
pefile==2024.8.26
Pillow==10.1.0
pip==25.1.1
pipenv==2023.11.17
platformdirs==4.3.8
psycopg2-binary==2.9.9
PyGetWindow==0.0.9
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2025.8
pylint==3.0.2
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyperclip==1.8.2
PyRect==0.2.0
pytz==2023.3.post1
pywin32-ctypes==0.2.3
requests==2.31.0
Send2Trash==1.8.2
setuptools==69.0.2
six==1.17.0
sqlparse==0.4.4
tomlkit==0.12.3
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.25.0
webencodings==0.5.1