{% extends 'core/base.html' %}
{% load static %}
{% block title %}Editar Obra Social{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            {% if 'ok' in request.GET %}
            <p style="color: green;">
             Obra Social editada correctamente
            </a>
          </p>
  
            {% endif%}
            <h3>Formulario Para Editar Obra Social </h3>
            <br>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                    {{ form.as_p}}
                </table>
                <br>
                <input type="submit" value="Editar" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="d-flex justify-content-center align-items-center mt-2">

  <a href="{% url 'core:IndexAdmin' %}" class="btn btn-success">Volver</a>
</div>
{% endblock %}