<div class="list-group shadow">

    <div class="list-group-item bg-dark text-white fw-bold">
        📊 GERENCIA
    </div>

    <a href="{% url 'gerencia:dashboard' %}"
       class="list-group-item list-group-item-action">

        📊 Dashboard

    </a>

    <a href="{% url 'gerencia:operaciones' %}"
       class="list-group-item list-group-item-action">

        🏥 Operaciones

    </a>

    <a href="{% url 'gerencia:pacientes' %}"
       class="list-group-item list-group-item-action">

        🧑 Pacientes

    </a>

    <a href="{% url 'gerencia:medicos' %}"
       class="list-group-item list-group-item-action">

        👨‍⚕️ Médicos

    </a>

    <a href="{% url 'gerencia:sedes' %}"
       class="list-group-item list-group-item-action">

        🏢 Sedes

    </a>

    <div class="list-group-item bg-light fw-bold">
        Próximamente
    </div>

    <a href="#" class="list-group-item disabled">
        💰 Facturación
    </a>

    <a href="#" class="list-group-item disabled">
        📈 Indicadores
    </a>

    <a href="#" class="list-group-item disabled">
        📄 Reportes
    </a>

</div>