{% extends 'core/base.html' %}
{% load static %}
{% block title %}Consultorio Medico San Martin{% endblock %}

{% block extra_css %}
<style>
/* HEADER */
#header {
  position: fixed;
  width: 100%;
  z-index: 9999;
    top: 0;
  left: 0;
}
.custom-modal-header {
  background: linear-gradient(135deg, #6ea8dc, #9ec9ff);
  border-bottom: none;
}
/* TOPBAR */
.topbar {
  background: #ffffff;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  margin: 0;
  color: black;
 
}

/* NAVBAR */
.navbar-main {
  background: linear-gradient(135deg, #6ea8dc, #9ec9ff);
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
   color: white;
}
 
/* LINKS */
.navbar a {
  font-size: 16px;
  font-weight: 500;
   color: white;
}
.navbar ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar a:hover {
  color: #ffffff;
}

/* DROPDOWN */
.navbar .dropdown ul {
  background: white;
  border-radius: 8px;
}

/* TEXTO MÉDICO */
.navbar-main .text-white {
  font-size: 14px;
}

/* BODY FIX */
body {
  padding-top: 110px;
}

/* Header con gradient */
.custom-modal-header {
    background: linear-gradient(135deg, #0d6efd, #4facfe);
    border: none;
}

/* Botón gradient suave */
.custom-btn-gradient {
    background: linear-gradient(135deg, #0d6efd, #4facfe);
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Hover más elegante */
.custom-btn-gradient:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

/* Botón cancelar suave */
.custom-btn-soft {
    border-radius: 8px;
    padding: 8px 18px;
    transition: all 0.3s ease;
}

/* Hover cancelar */
.custom-btn-soft:hover {
    background-color: #f1f1f1;
}
  </style>
{% endblock %}
{% block content %}







<!-- Bienvenida -->
<div class="welcome-section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 welcome-content">
        <h2>Bienvenido/a Dr. {{ request.user.medico.apellido }}</h2>
        <p>
          Desde este panel podrá gestionar su agenda médica, acceder a las historias clínicas
          de sus pacientes y registrar consultas de manera rápida y organizada.
        </p>
        <p>
          El sistema del Consultorio Médico San Martín está diseñado para acompañar su práctica profesional
          con eficiencia, seguridad y respaldo digital.
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
